@import '../../styles/normalize.css';
@import '../../styles/variables.scss';

.home {
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 50px;
	color: $medium;
	padding: 130px 165px;

	@media (max-width: 1200px) {
		padding: 130px calc(55px * 2);
	}

	@media #{$is-tablet} {
		flex-direction: column;
		align-items: center;
		padding: 100px 0 90px 0;
	}

	@media #{$is-tablet} {
		flex-direction: column;
		align-items: center;
		padding: 24px 24px 48px 24px;
	}

	&__text {
		width: 444px;
		display: flex;
		flex-direction: column;
		row-gap: 24px;

		@media #{$is-tablet} {
			align-items: center;
			text-align: center;
		}

		@media #{$is-mobile} {
			row-gap: 16px;
			width: 100%;
		}
	}

	&__text-1,
	&__text-2,
	&__button {
		text-transform: uppercase;
	}

	&__text-1 {
		font: $heading-5;
		letter-spacing: 4.72px;

		@media #{$is-tablet} {
			font-size: 20px;
		}

		@media #{$is-mobile} {
			font-size: 16px;
		}
	}

	&__text-2 {
		font: $heading-1;
		color: $light;

		@media #{$is-mobile} {
			font-size: 80px;
		}
	}

	&__text-3 {
		font: $body-text;
		line-height: 32px;

		@media #{$is-tablet} {
			font-size: 16px;
		}

		@media #{$is-mobile} {
			font-size: 15px;
		}
	}

	&__button {
		min-width: 274px;
		min-height: 274px;
		border: none;
		background-color: $light;
		border-radius: 50%;
		font: $heading-4;
		letter-spacing: 2px;
		cursor: pointer;
		position: relative;

		@media #{$is-tablet} {
			min-width: 242px;
			min-height: 242px;
		}

		@media #{$is-mobile} {
			min-width: 150px;
			min-height: 150px;
			font-size: 20px;
		}

		&::before {
			content: '';
			position: absolute;
			top: calc((274px / 2) - (450px / 2));
			left: calc((274px / 2) - (450px / 2));
			min-width: 450px;
			min-height: 450px;
			border-radius: 50%;
			background-color: rgba($light, 0.1036);
			transform: scale(0);
			transition: transform 0.3s ease-in-out;

			@media #{$is-tablet} {
				top: calc((242px / 2) - (350px / 2));
				left: calc((242px / 2) - (350px / 2));
				min-width: 350px;
				min-height: 350px;
			}

			@media #{$is-mobile} {
				top: calc((150px / 2) - (250px / 2));
				left: calc((150px / 2) - (250px / 2));
				min-width: 250px;
				min-height: 250px;
			}
		}

		&:hover::before {
			transform: scale(1);
		}
	}
}
