@import '../../styles/normalize.css';
@import '../../styles/variables.scss';

.crew {
	position: relative;

	&__content {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		height: 400px;

		@media #{$is-tablet} {
			height: auto;
			row-gap: 40px;
			margin-bottom: 0;
		}

		@media #{$is-mobile} {
			flex-direction: column;
			row-gap: 0;
			margin-bottom: 32px;
		}

		&__photo {
			position: absolute;
			bottom: 0;
			right: 11vw;

			@media (max-width: 1330px) {
				right: 3vw;
			}

			@media #{$is-tablet} {
				position: relative;
				margin: 0 auto;
				height: 520px;
			}

			@media #{$is-mobile} {
				height: 223px;
			}
		}

		&__info {
			@media #{$is-tablet} {
				text-align: center;
			}

			&__role,
			&__name {
				text-transform: uppercase;
			}

			&__role {
				font: $heading-4;
				color: rgba($light, 0.5042);

				@media #{$is-tablet} {
					font-size: 24px;
					color: rgba($light, 0.4994);
				}

				@media #{$is-mobile} {
					font-size: 16px;
				}
			}

			&__name {
				font: $heading-3;
				color: $light;
				margin: 15px 0 27px 0;

				@media #{$is-tablet} {
					font-size: 40px;
					margin: 8px 0 16px 0;
				}

				@media #{$is-mobile} {
					font-size: 24px;
				}
			}

			&__description {
				font: $body-text;
				color: $medium;
				width: 444px;
				line-height: 32px;

				@media #{$is-tablet} {
					font-size: 16px;
					width: 100%;
					line-height: 28px;
				}

				@media #{$is-mobile} {
					font-size: 15px;
					line-height: 25px;
				}
			}
		}

		&__nav {
			display: flex;
			column-gap: 24px;

			@media #{$is-tablet} {
				justify-content: center;
				column-gap: 16px;
			}

			@media #{$is-mobile} {
				border-top: 1px solid #383b4b;
				padding: 32px 0;
			}

			&__item {
				width: 15px;
				height: 15px;
				background-color: $light;
				opacity: 0.1774;
				border-radius: 50%;
				cursor: pointer;
				transition: opacity 0.3s ease-in-out;

				@media #{$is-tablet} {
					width: 10px;
					height: 10px;
				}

				&:hover {
					opacity: 0.5001;
				}

				&--selected,
				&--selected:hover {
					opacity: 1;
				}
			}
		}
	}
}
