@import 'normalize.css';
@import 'variables.scss';

html,
body,
#root,
.App {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background-image 0.2 ease-in-out;
}

@each $page in home, destination, crew, technology {
	.#{$page}-bg {
		background-image: url('../assets/background-#{$page}-desktop.jpg');
	}
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0 0 55px;

	&__logo {
		width: 48px;
		height: 48px;
	}

	&__links {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		column-gap: 50px;
		width: 830px;
		height: 96px;
		position: relative;
		background-color: rgba($light, 0.04);
		backdrop-filter: blur(81.55px);

		&--selected,
		&--unselected {
			display: flex;
			column-gap: 11px;
			color: $light;
			font: $nav-text;
			text-transform: uppercase;
			text-decoration: none;
			padding-bottom: 35px;
			border-bottom: 3px solid transparent;
			transition: border-bottom-color 0.3s ease-in-out;
			letter-spacing: 2.7px;

			p:first-of-type {
				font-weight: 900;
			}
		}

		&--selected {
			border-bottom-color: $light;
		}

		&::after {
			content: '';
			width: calc(100vw - 800px - 55px - 48px - 65px);
			height: 1px;
			background-color: rgba($light, 0.2515);
			position: absolute;
			top: calc(50% - 1px / 2);
			right: 800px;
		}
	}
}

.page {
	width: 100%;
	height: calc(100vh - 136px);

	&__header {
		font: $heading-5;
		letter-spacing: 4.72px;
		text-transform: uppercase;
		color: $light;
		display: flex;
		column-gap: 28px;
		margin-bottom: 64px;

		h5:first-of-type {
			font-weight: bold;
			opacity: 0.25;
		}

		h5:last-of-type {
			font-weight: normal;
		}
	}
}
