@import 'normalize.css';
@import 'variables.scss';

html,
body,
#root,
.App {
	min-width: 100vw;
	min-height: 100vh;
	background-color: $dark;
}

.App {
	min-width: 100vw;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: $min-mobile) {
	@each $page in home, destination, crew, technology {
		.#{$page}-bg {
			background-image: url('../assets/background-#{$page}-mobile.jpg');
		}
	}
}

@media (min-width: $min-tablet) {
	@each $page in home, destination, crew, technology {
		.#{$page}-bg {
			background-image: url('../assets/background-#{$page}-tablet.jpg');
		}
	}
}

@media (min-width: $min-desktop) {
	@each $page in home, destination, crew, technology {
		.#{$page}-bg {
			background-image: url('../assets/background-#{$page}-desktop.jpg');
		}
	}
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0 0 55px;
	height: calc(96px + 40px);

	@media #{$is-tablet} {
		padding: 0 0 0 40px;
	}

	@media #{$is-mobile} {
		height: auto;
		padding: 24px;
	}

	&__logo {
		width: 48px;
		height: 48px;
		cursor: pointer;

		@media #{$is-mobile} {
			width: 40px;
			height: 40px;
		}
	}

	&__links {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding-right: 165px;
		column-gap: 48px;
		width: 830px;
		height: 96px;
		position: relative;
		background-color: rgba($light, 0.04);
		backdrop-filter: blur(81.55px);

		@media #{$is-tablet} {
			width: auto;
			padding-right: 46px;
			column-gap: 37px;
			padding-left: 48px;
		}

		@media #{$is-mobile} {
			display: none;
		}

		&__item {
			display: flex;
			column-gap: 11px;
			color: $light;
			font: $nav-text;
			text-transform: uppercase;
			text-decoration: none;
			padding-bottom: 35px;
			border-bottom: 3px solid transparent;
			transition: border-bottom-color 0.3s ease-in-out;
			letter-spacing: 2.7px;

			@media #{$is-tablet} {
				font: $subheading-2;
			}

			p:first-of-type {
				font-weight: bold;

				@media #{$is-tablet} {
					display: none;
				}
			}

			&:hover {
				border-bottom-color: rgba($light, 0.5021);
			}

			&--selected,
			&--selected:hover {
				border-bottom-color: $light;
			}
		}

		&::after {
			content: '';
			width: calc(100vw - 800px - 55px - 48px - 65px);
			height: 1px;
			background-color: rgba($light, 0.2515);
			position: absolute;
			top: calc(50% - 1px / 2);
			right: 800px;

			@media #{$is-tablet} {
				display: none;
			}
		}
	}

	&__menu-icon {
		display: none;
		cursor: pointer;

		@media #{$is-mobile} {
			display: block;
		}
	}
}

.mobile-menu {
	width: 60%;
	background-color: rgba($light, 0.04);
	backdrop-filter: blur(81.55px);
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 30px 0 30px 0;
	row-gap: 65px;
	z-index: 1000;
	transition: right 0.3s ease-in-out;

	&--opened {
		right: 0;
	}

	&--closed {
		right: -100%;
	}

	&__close-icon {
		width: 24px;
		height: 24px;
		margin-right: 30px;
		cursor: pointer;
	}

	&__links {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		width: 100%;

		&__item {
			display: flex;
			align-items: center;
			column-gap: 11px;
			color: $light;
			font: $nav-text;
			text-transform: uppercase;
			text-decoration: none;
			border-right: 4px solid transparent;
			transition: border-right-color 0.3s ease-in-out;
			letter-spacing: 2.7px;
			padding-left: 30px;
			height: 30px;

			p:first-of-type {
				font-weight: bold;
			}

			&:hover {
				border-right-color: rgba($light, 0.5021);
			}

			&--selected,
			&--selected:hover {
				border-right-color: $light;
			}
		}
	}
}

.page {
	width: 100%;
	min-height: calc(100vh - 136px);
	display: flex;
	flex-direction: column;

	@media #{$is-mobile} {
		min-height: calc(100vh - 88px);
	}

	&__header {
		font: $heading-5;
		letter-spacing: 4.72px;
		text-transform: uppercase;
		color: $light;
		display: flex;
		column-gap: 28px;
		margin: 76px 0 0 11vw;

		@media (max-width: 1330px) {
			margin: 76px 0 0 55px;
		}

		@media #{$is-tablet} {
			margin: 40px 0 0 40px;
			font-size: 20px;
		}

		@media #{$is-mobile} {
			margin: 0;
			font-size: 16px;
			justify-content: center;
		}

		h5:first-of-type {
			font-weight: bold;
			opacity: 0.25;
		}

		h5:last-of-type {
			font-weight: normal;
		}
	}

	&__content {
		margin: auto 11vw;

		@media (max-width: 1330px) {
			margin: auto 55px;
		}

		@media #{$is-tablet} {
			margin: 60px 100px;
		}

		@media #{$is-mobile} {
			margin: 32px 24px;
		}
	}
}
