// Colors
$dark: #0b0d17;
$medium: #d0d6f9;
$light: #ffffff;

// Typography
$heading-1: 150px 'Bellefair', serif;
$heading-2: 100px 'Bellefair', serif;
$heading-3: 56px 'Bellefair', serif;
$heading-4: 32px 'Bellefair', serif;
$heading-5: 28px 'Barlow Condensed', sans-serif;
$subheading-1: 28px 'Bellefair', serif;
$subheading-2: 14px 'Barlow Condensed', sans-serif;
$nav-text: 16px 'Barlow Condensed', sans-serif;
$body-text: 18px 'Barlow', sans-serif;
