// Colors
$dark: #0b0d17;
$medium: #d0d6f9;
$light: #ffffff;

// Typography
$heading-1: 150px 'Bellefair', serif;
$heading-2: 100px 'Bellefair', serif;
$heading-3: 56px 'Bellefair', serif;
$heading-4: 32px 'Bellefair', serif;
$heading-5: 28px 'Barlow Condensed', sans-serif;
$subheading-1: 28px 'Bellefair', serif;
$subheading-2: 14px 'Barlow Condensed', sans-serif;
$nav-text: 16px 'Barlow Condensed', sans-serif;
$body-text: 18px 'Barlow', sans-serif;

// Break points
$min-desktop: 1130px;
$min-tablet: 700px;
$min-mobile: 0;

$is-desktop: 'screen and (max-width: 100vw)';
$is-tablet: 'screen and (max-width: 1130px)';
$is-mobile: 'screen and (max-width: 700px)';
