@import '../../styles/normalize.css';
@import '../../styles/variables.scss';

$rotation-times: (
	moon: calc(27.3s * 2),
	mars: calc(1.03s * 2),
	europa: calc(3.55s * 2),
	titan: calc(15.95s * 2),
);

.destination {
	display: flex;
	flex-direction: column;
	padding: 76px 163px 112px 163px;

	&__subpage__nav,
	&__subpage__info__title,
	&__subpage__info__other {
		text-transform: uppercase;
	}

	&__subpage {
		display: grid;
		grid-template-columns: 1fr 30vw;
		grid-template-rows: 34px 1fr;
		grid-gap: 37px 157px;
		grid-template-areas:
			'img nav'
			'img info';

		&__img--moon,
		&__img--mars,
		&__img--europa,
		&__img--titan {
			grid-area: img;
			width: 445px;
			height: 445px;
		}

		@each $planet, $rotation-time in $rotation-times {
			&__img--#{$planet} {
				animation: rotate-planet #{$rotation-time} linear infinite;
			}
		}

		@keyframes rotate-planet {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	&__subpage__nav {
		display: flex;
		column-gap: 35px;
		grid-area: nav;

		&__item,
		&__item--selected {
			font: $nav-text;
			letter-spacing: 2.7px;
			color: $medium;
			border-bottom: 3px solid transparent;
			cursor: pointer;
			transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;

			&:hover {
				color: $light;
			}
		}

		&__item--selected {
			color: $light;
			border-bottom-color: $light;
		}
	}

	&__subpage__info {
		grid-area: info;

		&__title {
			font: $heading-2;
			color: $light;
			height: 115px;
		}

		&__description {
			font: $body-text;
			color: $medium;
			margin: 14px 0 54px 0;
			height: 128px;
		}

		&__other {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			border-top: 1px solid #383b4b;
			padding-top: 28px;

			&__distance,
			&__travel {
				display: flex;
				flex-direction: column;
				row-gap: 12px;

				p:first-of-type {
					font: $subheading-2;
					color: $medium;
					letter-spacing: 2.36px;
				}

				p:last-of-type {
					font: $subheading-1;
					color: $light;
				}
			}
		}
	}
}
