@import '../../styles/normalize.css';
@import '../../styles/variables.scss';

.technology {
	&__content {
		display: flex;
		gap: 80px;
		width: 630px;

		@media #{$is-tablet} {
			width: 100%;
			flex-direction: column;
			align-items: center;
			margin: 60px 0 0 0;
			gap: 0;
		}

		@media #{$is-mobile} {
			margin: 32px 0;
		}

		&__nav {
			display: flex;
			flex-direction: column;
			gap: 32px;

			@media #{$is-tablet} {
				flex-direction: row;
				gap: 16px;
				margin: 56px 0 44px 0;
			}

			@media #{$is-mobile} {
				margin: 34px 0 26px 0;
			}

			&__item {
				width: 80px;
				height: 80px;
				background-color: transparent;
				border: 1px solid rgba($light, 0.25);
				color: $light;
				border-radius: 50%;
				cursor: pointer;
				font: $heading-4;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
					color 0.3s ease-in-out;

				@media #{$is-tablet} {
					width: 60px;
					height: 60px;
					font-size: 24px;
				}

				@media #{$is-mobile} {
					width: 40px;
					height: 40px;
					font-size: 16px;
				}

				&:hover {
					border-color: $light;
				}

				&--selected,
				&--selected:hover {
					background-color: $light;
					border-color: transparent;
					color: $dark;
				}
			}
		}

		&__info {
			@media #{$is-tablet} {
				text-align: center;
				min-width: 460px;
				max-width: 60%;
			}

			@media #{$is-mobile} {
				min-width: 100%;
				max-width: 100%;
				padding: 0 24px;
			}

			&__subtitle {
				font: $nav-text;
				color: $medium;
				text-transform: uppercase;
				letter-spacing: 2.7px;
				height: 19px;

				@media #{$is-mobile} {
					font-size: 14px;
				}
			}

			&__title {
				font: $heading-3;
				color: $light;
				text-transform: uppercase;
				height: 64px;
				margin: 11px 0 17px 0;

				@media #{$is-tablet} {
					font-size: 40px;
					height: 46px;
					margin: 16px 0;
				}

				@media #{$is-mobile} {
					font-size: 24px;
					height: 28px;
					margin: 9px 0 16px 0;
				}
			}

			&__description {
				font: $body-text;
				color: $medium;
				height: 192px;
				line-height: 32px;

				@media #{$is-tablet} {
					font-size: 16px;
					height: auto;
				}

				@media #{$is-mobile} {
					font-size: 15px;
					line-height: 25px;
				}
			}
		}

		&__photo {
			width: 515px;
			height: 527px;
			position: absolute;
			right: 0;
			bottom: 100px;

			@media (max-width: 1330px) {
				transform: scale(0.7);
				transform-origin: right;
				bottom: 50px;
			}

			@media #{$is-tablet} {
				position: relative;
				bottom: 0;
				width: 100%;
				height: 310px;
				transform: scale(1);
				object-fit: cover;
			}

			@media #{$is-mobile} {
				height: 170px;
			}
		}
	}
}
